.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------*/

/* Styling for image in the banner component*/
img{
  width: 350px;
  height: 250px;
}

.profile-img .img{
padding: 10px;
}
/*-------------------*/

/*These styles are used in various components to define background color*/
.bg-baby-blue{
  background-color: #E7F2F8;
}

.bg-cream{
  background-color: #EFE7BC
}
.bg-blue{
  background-color: #74BDCB;
}

.txt-white{
  color: white;
}
.bg-pink{
  background-color: #FFA384;
}
/*-------------------*/

/*Back ground image in the main screen*/
.bg-img{
  background-image: url("bg-img.jpg");
}

/*-------------------*/
